<h1>Listing promotions</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Discout</th>
    <th>Service</th>
    <th>Product</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @promotions.each do |promotion| %>
  <tr>
    <td><%= promotion.name %></td>
    <td><%= promotion.discout %></td>
    <td><%= promotion.service_id %></td>
    <td><%= promotion.product_id %></td>
    <td><%= link_to 'Show', promotion %></td>
    <td><%= link_to 'Edit', edit_promotion_path(promotion) %></td>
    <td><%= link_to 'Destroy', promotion, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Promotion', new_promotion_path %>
